<!doctype html>
<html lang="en-US">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>About Us</title>
<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">

<script>var __adobewebfontsappname__="dreamweaver"</script>
<script src="http://use.edgefonts.net/source-sans-pro:n2:default.js" type="text/javascript"></script>

</head>
<body>
	<div class="container"> 
		<div class="row">
 	<header> <a href="">
    </a>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="#"></a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="about">About Us</a>
             </li>
             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="social">Social Media</a>
                   <div class="dropdown-divider"></div>
				   <a class="dropdown-item" href="racks">Racks &amp; Trackers</a>
                   <a class="dropdown-item" href="pvmodule">PV Module</a>
                   <a class="dropdown-item" href="pvsystems">PV Systems</a>
                   <a class="dropdown-item" href="dataanalytics">Data Analytics</a>
                   <a class="dropdown-item" href="cybersecurity">Cybersecurity</a>
                </div>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="contact">Contact Us</a>
             </li>
			 <li class="nav-item">
                <a class="nav-link" href="registration">Register</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="login">Login</a>
             </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" id="search-form">
             <input class="form-control mr-sm-2" type="search" id="search-text" placeholder="Search" aria-label="Search">
             <button class="btn btn-outline-success my-2 my-sm-0" id="searchbutton" type="" onClick="searchClick()">Search</button>
         </form>
      </div>
    </nav>
	</header>
</div>
<div class="container">

  <h1 class="my-4">About Us &nbsp;
    <small>SolarPV's Story</small>
  </h1>

  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="../static/images/handsun 750x500.png" alt="hand held towards sun">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">How We Began&nbsp;</h3>
      <p>SolarPV began in 2020 when Kristofor Anderson and Donald Marovich met in a college class. They quickly realized that together, they could bring cutting edge solar technology to the wold, and beyond! Kris and Donald quickly formed a team and began work on the company, employing great legends such as Daniel Neal for consulting. This attracted the attention of many shareholders who took vestment in the company as SolarPV continued to make advances towards solar technology. </p>
      <h3 class="my-3">Where We Are Today</h3>
      <p>Today, SolarPV leads the entire world in the solar industry, providing installations in any location. Even Obama's latest satellite internet company is using our panels to power their computers and communications! The future looks bright with SolarPV leading the way!</p>
    </div>

  </div>
</div>
<br><br>
<div class="row">
    <div class="text-center col-lg-6 offset-lg-3">
             <h4><img src="../static/images/default2.svg" alt="Card image cap" height="50"></h4>
             <p>Copyright &copy; 2020 &middot; All Rights Reserved<a href="#" ></a></p>
			  <p><a href="#" > Site Map</a> &middot; <a href="#" >Terms and Conditions</a> &middot; <a href="#" >Privacy Policy</a> &middot; <a href="#" >About Us</a></p>
       </div>
	</div>
</div>
</body>
</html>
